<div class="w-full max-w-6xl flex flex-col gap-6">
  <%# info part start %>
  <div class="flex flex-col items-center md:flex-row md:items-start md:justify-between gap-6 md:gap-0 p-5 md:p-6 lg:p-14 bg-linear-to-r from-cyan-100 via-blue-300 to-indigo-400 rounded-2xl" data-test-id="info-section">
    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-4">
        <span class="font-extrabold text-3xl sm:text-6xl md:text-5xl lg:text-6xl" data-test-id="page-title">My Academy Quest</span>
        <span class="font-light text-2xl sm:text-4xl" data-test-id="user-name">Kitikun Polgarn</span>
      </div>
      <%= link_to pages_path, class:"max-w-50" do %>
        <div class="hidden md:flex bg-linear-to-r from-yellow-400 via-orange-500 to-yellow-600 p-3 rounded-lg items-center justify-center"
             data-test-id="my-brag-doc-desktop-button">
          <span class="text-gray-800 font-bold">My Brag Document</span>
        </div>
      <% end %>
    </div>
    <%= image_tag "train-photo.JPG", class:"w-full max-w-sm sm:max-w-md md:max-w-sm rounded-2xl", data: { test_id: "profile-image" } %>
    <%= link_to pages_path, class:"md:hidden" do %>
      <div class="bg-linear-to-r from-yellow-400 via-orange-500 to-yellow-600 p-3 rounded-lg flex items-center justify-center"
           data-test-id="my-brag-doc-mobile-button">
        <span class="text-gray-800 font-bold">My Brag Document</span>
      </div>
    <% end %>
  </div>
  <%# info part end %>
  <%# quest part start %>
  <div class="flex flex-col items-center p-5 md:p-6 lg:p-14 bg-linear-to-r from-cyan-400 via-blue-400 to-indigo-400 rounded-2xl"
       data-test-id="quest-section">
    <div class="w-full flex flex-col gap-6 items-center justify-between mb-6">
      <span class="text-gray-800 font-bold text-xl md:text-2xl" data-test-id="quest-list-title">My Quest List</span>
      <%# create quest part start %>
      <div data-test-id="create-quest-form">
        <%= turbo_frame_tag "new_quest" do %>
          <%= render "form", quest: @quest %>
        <% end %>
      </div>
      <%# create quest part end %>
    </div>
    <div id="quests" class="p-3 bg-white w-full rounded-lg flex flex-col shadow-xl gap-6" data-test-id="quest-list">
      <%# quest list part start %>
      <%= turbo_stream_from "quests" %>
      <%= render @quests %>
      <%# quest list part end %>
    </div>
  </div>
  <%# quest part end %>
</div>
